<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/signup.css">
</head>
<body>
    <form action="../../controller/signup.php" method="post">
        <section class="container">
            <h1>Signup</h1>
            <br><br>
            <div>
                <input type="text" required name="firstname">
                <label for="Username">First Name</label>
            </div>
            <br><br>
            <div>
                <input type="text" required name="lastname">
                <label for="Last Name">Last Name</label>
            </div>
            <br><br>
            <div>
                <input type="text" required name="username">
                <label for="Username">Username</label>
            </div>
            <br><br>
            <div>
                <input type="text" required name="email">
                <label for="Email">Email</label>
            </div>
            <br><br>
            <div>
                <input type="Password" required name="password">
                <label for="Password">Password</label>
            </div>
            <br><br>
            <button name="signup">Signup</button><br><br>
            <p>Alraedy have an account? <a href="../html/login.html">Signup</a></p>
        </section>
    </form>
</body>
</html>